body {
  margin: 0;
  padding: 0;
  background-color: #849d8f;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  z-index: 4;
}

a {
  text-decoration-skip-ink: none;
}

/*Для слайдера*/
.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/index-img/cream-brule-and-jam.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/index-img/chocolate-and-sorbet.png");
}

.site-wrapper::after {
  background-image: url("img/ice-cream-and-sherbet.png");
}
/*конец "Для слайдера"*/
.visually-hidden {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 ;
}
/*Стилизация шапки сайта(навигация)*/
.navigation {
  line-height: 18px;
  color: #ffffff;
  padding-top: 10px;
}

.site-navigation li {
  display: inline;
  margin-top: 23px;
  position: relative;
  padding: 0;
  margin: 0;

}

.user-navigation {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.submenu {
  background-color: #ffffff;
  position: absolute;
  padding-left: 0;
  margin-top: 16px;
  width: 150px;
  z-index: 100;
  border-radius: 10px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all .1s ease .1s;
  box-shadow: 0 15px 25px 2px rgba(0, 0, 0, 0.4);
}

.submenu-item:first-child .submenu-link,
.submenu-item:first-child .submenu-link:hover {
  border-radius: 10px 10px 0 0;
  border-bottom: rgba(0, 0, 0, 0.3);
}

.submenu-item:last-child .submenu-link,
.submenu-item:last-child .submenu-link:hover {
  border-radius: 0 0 10px 10px;
}

.site-navigation,
.user-navigation,
.submenu {
  list-style: none;
}

.site-navigation a {
  padding:  7px 14px;
  color: #ffffff ;
}

.submenu .submenu-link {
  color: black;
  text-decoration: none;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
}


.site-navigation .submenu li:not(:first-child) {
  font-weight: 400;
}

.navigation-item a:hover,
.navigation-item a:focus {
 background-color: white;
 color: black;
 border-radius: 50px;
 text-decoration: none;
}

.site-navigation > li:hover .submenu,
.site-navigation > li:focus .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu .submenu-link:hover,
.submenu .submenu-link:focus {
  background-color: #fbded6;
  border-radius: 0;
}

.submenu .submenu-link:active {
  background-color: #f6b5a5;
}

.submenu .submenu-link-active,
.submenu .submenu-link-active:hover {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation .basket-link {
  padding-left: 40px;
  padding-right: 35px;

  background-image: url("../img/svg/basket.svg");
  background-repeat: no-repeat;
  background-position: 16px 7px;
  font-size: 14px;
  font-weight: 400;
}

.busket-active .basket-link {
  padding-right: 16px;
}

.user-navigation .login-link {
  padding-left: 42px;
  padding-right: 16px;
  background-image: url("../img/svg/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 16px 8px ;
}

.user-navigation .surch-link {
  padding: 8px 18px;
  background-image: url("../img/svg/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-item > a {
  margin-left: 9px;
  border-radius: 50px;
  padding: 8px 0;
  background-color: rgba(248, 247, 244, 0.3);
  text-decoration: none;
  color: #ffffff;
}

.busket-active .basket-link {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../img/svg/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 16px 7px;
}

.user-navigation .basket-link:hover,
.user-navigation .basket-link:focus {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../img/svg/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 16px 7px;
}

.user-navigation .login-link:hover,
.user-navigation .login-link:focus {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../img/svg/entrance.svg");
  background-repeat: no-repeat;
  background-position: 16px 8px ;
}

.user-navigation .surch-link:hover,
.user-navigation .surch-link:focus {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../img/svg/loupe-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts .working-hours,
.contacts-catalog .working-hours {
  font-size: 14px;
  line-height: 11px;
  padding-bottom: 5px;
}

.contacts .contact-number,
.contacts-catalog .contact-number {
  font-size: 22px;
  line-height: 20px;
}

/*Слайдер Двойное наслаждение*/
.double-ice-cream {
  position: relative;
  padding-top: 279px;
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 27px;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/index-img/cream-brule-and-jam.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/index-img/chocolate-and-sorbet.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/index-img/ice-cream-and-sherbet.png");
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*специальные предложения*/
.raspberries h3,
.chocolate h3 {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 19px;
  margin-left: 17px;
  font-size: 34px;
  line-height: 37px;
}

.raspberries p,
.chocolate p {
  margin-left: 18px;
  font-size: 18px;
  line-height: 22px;

}

.button {
  display: inline-block;

  text-align: center;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.raspberries a,
.chocolate a {
  position: absolute;
  right: 21px;
  bottom: 24px;
  padding: 10px 21px;
  font-size: 18px;
  line-height: 24px;
}

.raspberries {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #849d8f;
  background-image: url("../img/index-img/background-raspderries.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 17px;
}

.chocolate {
  position: relative;
  background-color: #849d8f;
  background-image: url("../img/index-img/background-chocolate.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 17px;
}

.raspberries a,
.chocolate a {
  text-decoration: none;
  color: #ffffff;
  background-color: #ed5a3d;
}

.raspberries a:hover,
.raspberries a:focus,
.chocolate a:hover,
.chocolate a:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
}

/*Лучший выбор*/
.ice-cream-hit,
.ice-creams {
  list-style: none;
  z-index: 5;
}

.ice-creams-item::before {
    display: none;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: -65px;
    background-color: rgba(248, 247, 244, 0.3);
    transition: background-color .5s ease;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 20px 20px rgba(50, 50, 50, 0.3);
    padding-bottom: 20px;
    z-index: 2
}

.ice-creams-item:hover::before {
  display: block;
}

.ice-cream-hit-item:hover,
.ice-cream-hit-item:focus {
  background-color: rgba(245, 245, 245, 0.3);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.3);
  height: 386px;
z-index: 15;
}

.ice-cream-hit-item {
  position: relative;
  border-radius: 5px;
}

.ice-cream-hit-item::before {
  position: absolute;
  content: "";
  display: table;
  z-index: 1;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;
  background: url(../img/svg/hit.svg);
}

.ice-creams-item .button {
  position: absolute;
  padding-top: 8px;
  padding-bottom: 8px;
  bottom: -52px;
  left: 45px;
  right: 45px;
  font-size: 18px;
  line-height: 24px;
  background-color: #ed5a3d;
  display: none;
  text-decoration: none;
}

.ice-cream-hit-item .button {
  position: absolute;
  padding-top: 8px;
  padding-bottom: 8px;
  bottom: 22px;
  left: 45px;
  right: 45px;
  font-size: 18px;
  line-height: 24px;
  background-color: #ed5a3d;
  display: none;
  text-decoration: none;
}

.ice-cream-hit-item .button:hover,
.ice-cream-hit-item .button:focus,
.ice-creams-item .button:hover,
.ice-creams-item .button:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
  color: #ffffff;
}

.ice-cream-hit-item:hover .button,
.ice-cream-hit-item:focus .button,
.ice-creams-item:hover .button,
.ice-creams-item:focus .button {
  display: block;
  z-index: 15
}

.ice-cream-hit-item a:not(.button):focus,
.ice-cream-hit-item a:not(.button):hover,
.ice-creams-item a:not(.button):hover,
.ice-creams-item a:not(.button):focus {
  color: #ffbc9e ;
}

.ice-cream-hit-item a,
.ice-creams-item a {
  font-weight: 400;
  margin-right: 10px;
  position: absolute;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.ice-cream-hit-item img,
.ice-creams-item img {
  border-radius: 50%;
  z-index: 1;
}

.price-ice-cream {
  font-size: 45px;
  position: absolute;
  top: 234px;
}
.price-ice-cream span:last-child {
  font-size: 35px;
}

/*Преимущества*/
.about-gllacyshop {
  background-color: #ffffff;
  background-image: url(../img/index-img/background-wafer.jpg);
  background-repeat: no-repeat;
  color: #323232;
  border-radius: 10px;
  height: 308px;
}
.about-gllacyshop h3 {
  font-size: 23px;
  line-height: 30px;
  margin-left: 20px;
  margin-bottom: 0;
  padding-bottom: -9px;
}
.advantages {
  list-style: none;
}

.item-advantages {
  width: 273px;
}

/*Блог*/
.new-from-the-blog {
  background-color: #ffffff;
  background-image: url(../img/index-img/background-blog.jpg);
  background-repeat: no-repeat;
  color: #323232;
  border-radius: 10px;
}

.new-from-the-blog h2 {
  font-size: 16px;
  line-height: 20px;
  padding-left: 18px;
  padding-top: 7px;
}

.new-from-the-blog a {
  display: block;
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  padding-left: 18px;
  margin-top: 0;
  width: 290px;
  height: 100px;
}

.new-from-the-blog a:hover,
.new-from-the-blog a:focus {
  color: #ffbc9e;
}

/*Подписка*/
.subscription {
  position: relative;
  background-image: url(../img/svg/bg-post.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.subscription-item {
  position: absolute;
  left: 7px;
  top: 7px;
  margin: 0;
  padding-top: 11px;
  padding-left: 20px;
  display: block;
  width: 527px;
  min-height: 198px;
  background-color: #f8f7f4;
  color: #5a5a5a;
  border-radius: 10px;
}

.subscription-item .mail-form {
  position: absolute;
  bottom: 36px;
}

.mail-window-text {
  width: 340px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.subscription-item .mail-form .button {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  background-color: #ed5a3d;
  padding: 10px 17px;
  margin-left: 8px;
}

.subscription .mail-form .button:hover,
.subscription .mail-form .button:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
}

/*Контактная информация*/
.adres-and-contacts {
  color: #323232;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 303px;
  height: 305px;
  border-radius: 10px;
  z-index: 5;
}

.adres-and-contacts p {
  padding-left: 26px;
  padding-right: 50px;
  margin-bottom: -15px;
}

.adres-and-contacts p:first-child {
  padding-top: 15px;
  padding-right: 120px;
}

.adres-and-contacts p:nth-child(2),
.adres-and-contacts p:last-child {
  margin-bottom: 20px;
}

.adres-and-contacts p:nth-child(2n) {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.adres-and-contacts a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #ed5a3d;
  position: absolute;
  bottom: 30px;
  left: 27px;
  padding: 10px 27px;
}

.adres-and-contacts a:hover,
.adres-and-contacts a:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
}

/*Футер*/
.footer-information a,
.footer-social a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 5px;
}

.footer-social {
  display: inline-block;
  height: 50px;
  width: 250px;
  position: relative;
}

.footer-social a {
  height: 20px;
  width: 40px;
  box-shadow:
             inset 4px 0px 0 3px rgba(248, 247, 244, 0.2),
             inset 0px 4px 0 3px rgba(248, 247, 244, 0.2),
             inset -4px 0px 0 3px rgba(248, 247, 244, 0.2),
             inset 0px -4px 0 3px rgba(248, 247, 244, 0.2);
  padding-bottom: 20px;
  border-radius: 50%;
}

.footer-social .twitter-link {
  background-image: url("../img/svg/twitter-no-hv.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 27px;
}
.footer-social .instagram-link {
  background-image: url("../img/svg/instagram-no-hv.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 77px;
}

.footer-social .facebook-link {
  background-image: url("../img/svg/fb-no-hv.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 127px;
}

.footer-social .vkontakte-link {
  background-image: url("../img/svg/vk-no-hv.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 177px;
}

.footer-social .twitter-link:hover,
.footer-social .twitter-link:focus {
  background-image: url("../img/svg/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 27px;
}

.footer-social .instagram-link:hover,
.footer-social .instagram-link:focus {
  background-image: url("../img/svg/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 77px;
}

.footer-social .facebook-link:hover,
.footer-social .facebook-link:focus {
  background-image: url("../img/svg/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 127px;
}

.footer-social .vkontakte-link:hover,
.footer-social .vkontakte-link:focus {
  background-image: url("../img/svg/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 177px;
}

.footer-social .twitter-link:active {
  background-image: url("../img/svg/twitter-no-hv.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 27px;

  height: 20px;
  width: 40px;
  box-shadow:
           inset 4px 0px 0 3px rgba(248, 247, 244, 0.3),
           inset 0px 4px 0 3px rgba(248, 247, 244, 0.3),
           inset -4px 0px 0 3px rgba(248, 247, 244, 0.3),
           inset 0px -4px 0 3px rgba(248, 247, 244, 0.3);
  padding-bottom: 20px;
  border-radius: 50%;
}

.footer-social .instagram-link:active {
  background-image: url("../img/svg/instagram-no-hv.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 77px;

  height: 20px;
  width: 40px;
  box-shadow:
           inset 4px 0px 0 3px rgba(248, 247, 244, 0.3),
           inset 0px 4px 0 3px rgba(248, 247, 244, 0.3),
           inset -4px 0px 0 3px rgba(248, 247, 244, 0.3),
           inset 0px -4px 0 3px rgba(248, 247, 244, 0.3);
  padding-bottom: 20px;
  border-radius: 50%;
}

.footer-social .facebook-link:active {
  background-image: url("../img/svg/fb-no-hv.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 127px;

  height: 20px;
  width: 40px;
  box-shadow:
           inset 4px 0px 0 3px rgba(248, 247, 244, 0.3),
           inset 0px 4px 0 3px rgba(248, 247, 244, 0.3),
           inset -4px 0px 0 3px rgba(248, 247, 244, 0.3),
           inset 0px -4px 0 3px rgba(248, 247, 244, 0.3);
  padding-bottom: 20px;
  border-radius: 50%;
}

.footer-social .vkontakte-link:active {
  background-image: url("../img/svg/vk-no-hv.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 177px;

  height: 20px;
  width: 40px;
  box-shadow:
           inset 4px 0px 0 3px rgba(248, 247, 244, 0.3),
           inset 0px 4px 0 3px rgba(248, 247, 244, 0.3),
           inset -4px 0px 0 3px rgba(248, 247, 244, 0.3),
           inset 0px -4px 0 3px rgba(248, 247, 244, 0.3);
  padding-bottom: 20px;
  border-radius: 50%;
}

.footer-information {
  display: flex;
  justify-content:flex-start;
  width: 330px;
  padding-left: 26px;
  padding-right: 26px;
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: 5px 3px;
}

.footer-information .left,
.footer-information .right {
  display: flex;
  flex-direction: column;
}

.footer-information .right {
  margin-left: 30px;
}

.htmlacademy-copyright {
  width: 200px;
  padding-right: 20px;
  padding-top: 15px;
}

.htmlacademy-copyright p {

  padding-top: 0;
}

.footer .logo-htmlacademy {
  bottom: 30px;
  right: 110px;
  position: absolute;
  height: 35px;
  width: 105px;
}

.footer p a {
  color: #ffffff;
}

.footer p {
  font-size: 12px;
  line-height: 16px;
}

.footer-information .left a:not(:first-child),
.footer-information .right a,
.footer p {
  font-weight: 400;
}

.footer-information a:hover,
.footer-information a:focus,
.footer-social a:hover,
.footer-social a:focus,
.footer p a:hover,
.footer p a:focus {
  color: #ffbc9e;
}

/*выподающае окна обратной связи поиска корзины*/
.modal {
  position: fixed;
  color: #000000;
  background-color: #f8f7f4;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 99;
}

.modal-feedback {
  top: 120px;
  left: 50%;
  border-radius: 10px;
  width: 470px;
  margin-left: -280px;
  padding-left: 27px;
  padding-bottom: 27px;
}

.modal-close {
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #f8f7f4;
  background-image: url("../img/svg/cross-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 13px;
}

.feedback-form .login-icon-name,
.feedback-form .login-icon-mail {
  width: 220px;
  padding: 10px 15px;
  padding-right: 40px;
  margin-bottom: 4px;
}

.feedback-form .login-icon-text {
  width: 385px;
  height: 145px;
  padding: 10px 15px;
  padding-right: 40px;
  resize: none;
}

.feedback-form .login-icon-name,
.feedback-form .login-icon-mail,
.feedback-form .login-icon-text {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.button-feedback {
  color: #ffffff;
  padding: 10px 30px;
  position: relative;
  left: 303px;
}

.modal-show {
  display: block;
}

.surch-menu {
  position: absolute;
  width: 48px;
  visibility:hidden;
  opacity: 0;
  transition: all .1s ease .1s;
}

.surch-window {
  display: block;
  color: #000000;
  background-color: #f8f7f4;
  box-shadow: 0 15px 70px rgba(0, 0, 0, 0.5);
  width: 340px;
  height: 85px;
  margin-top: 13px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10px;
}

.icon-surch {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  margin-left: 14px;
  margin-top: 20px;
  width: 293px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.user-navigation > li:hover .surch-menu {
  opacity: 1;
  visibility: visible;
}

.modal-busket {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
  position: absolute;
}

.modal-busket-countainer {
  width: 540px;
  min-height: 244px;
  position: relative;
  background-color: #ffffff;
  color: #000000;
  right: 395px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  margin-top: 15px;
  padding-top: 10px;
  visibility: hidden;
  opacity: 0;
  z-index: 500;
  transition: all .1s ease .1s;
  box-shadow: 0 15px 25px 2px rgba(0, 0, 0, 0.4);
}

.modal-busket-item-1 a,
.modal-busket-item-2 a {
  color: #000000;
  text-decoration: none;
}

.modal-busket-item-1 a:hover,
.modal-busket-item-2 a:hover {
  color: #ffbc9e;
}

.modal-busket-item-1 {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.modal-busket-item-2 {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.modal-busket-item-1,
.modal-busket-item-2 {
  padding-top: 20px;
}

.modal-busket-countainer li{
  padding-left: 20px;
}

.modal-busket-item-1 li:nth-child(2),
.modal-busket-item-2 li:nth-child(2) {
  width: 220px;
}

.modal-busket-item-1-close {
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #ffffff;
  background-image: url("../img/svg/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 27px;
}

.modal-busket-item-2-close {
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #ffffff;
  background-image: url("../img/svg/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 79px;
}

.modal-busket-item-1-image {
  border-radius: 50px;
  position: absolute;
  top: 22px;
  left: 32px;
}

.modal-busket-item-2-image {
  border-radius: 50px;
  position: absolute;
  left: 32px;
  top: 73px;
}

.busket-total {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.button-busket {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
}

.busket-active:hover .modal-busket-countainer {
  opacity: 1;
  visibility: visible;
}

.modal-login {
  position: relative;
}

.login-form {
  position: absolute;
  background-color: #f8f7f4;
  width: 270px;
  height: 209px;
  top: 20px;
  right: 1px;
  border-radius: 10px;
  box-shadow: 0 15px 70px rgba(0, 0, 0, 0.5);
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  transition: all .1s ease .1s;
}

.modal-login  a {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  padding-bottom: 5px;
}

.login-icon-user,
.login-icon-password {
  width: 222px;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-left: 17px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-login {
  padding: 13px 26px;
  position: absolute;
  bottom: 17px;
  left: 18px;
}

.login-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 135px;
  padding: 0;
  margin: 0;
  position: relative;
  left: 130px;
}

.login-help a {
  padding-bottom: 1px;
  margin: 0;
  text-decoration: underline;
}

.login-help a:hover {
color: #ffbc9e;
}

.user-navigation > .user-login-link:hover .login-form {
  visibility: visible;
  opacity: 1;
}

/*каталог*/
.site-navigation .catalog {
  background-color: #ed5a3d;
  color: #ffffff;
}

.active {
  text-decoration: none;
  background-color: #d07058;
  border-radius: 20px;
}

.navigation-item .active:hover {
  background-color: #d07058;
  color: #ffffff;
}

.catalog-header a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.catalog-header a:hover,
.catalog-header a:focus {
  color: #ffbc9e;
}

.container-catalog {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 23px;
}

.filter fieldset {
  border: none;
}

/*бегунок цены*/
.range-filter {
  width: 172px;
  height: 21px;
  padding-right: 23px;
  padding-left: 23px;
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  position: relative;
  top: 3px;
  right: 19px;
}

.filter .filter-item {
  min-height: 40px;
  margin-top: 0;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 18px;
  padding-right: 0;
}

.scale {
  margin-top: 2px;
  height: 3px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 90px;
  height: 4px;
  margin-left: 25px;
  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  margin: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50px;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 37px;
}

.range-controls .toggle-max {
  left: 132px;
}

.range-controls .toggle-min:hover {
  border: 10px solid #ffffff;
  left: 35px;
  top: 7px;
}

.range-controls .toggle-max:hover {
  border: 10px solid #ffffff;
  left: 130px;
  top: 7px;
}

.on-popular {
  width: 200px;
  height: 38px;
  padding: 0 15px;
  margin: 0;
  border-radius: 20px;
  font-weight: 500;
  position: relative;
  right: 19px;
}

.filter legend {
  font-size: 14px;
}
.fat {
  border-radius: 20px;
  padding-right: 7px;
  padding-left: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  right: 15px;
  top: 3px;
}

.fat-content {
  padding-right: 8px;
}

.on-popular,
.fat,
.fillers {
  background-color: rgba(255, 255, 255, 0.3);
}

.fillers {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 11px;
  border-radius: 20px;
  position: relative;
  top: 7px;
  right: 11px;
}

.fat,
.fillers {
  list-style: none;
  display: flex;
}

.fillers .fillers-item label {
  margin-right: 12px;
  margin-left: 5px;
}

.container-catalog .filter .button-filter{
  background-color: #a9bab0;
  box-shadow: 0 0 0 1px #ffffff;
  font-weight: 500;
}

.container-catalog .button-filter:hover {
  background-color: #ffffff;
  color: #353535;
}

.container-catalog .button-filter:active {
  background-color: rgba(255, 255, 255, 0.8);
  color: #353535;
}

.on-popular:hover {
  color: #353535;
}

.on-popular:focus {
  color: #353535;
  background-color: #ffffff;
  cursor: pointer;
}

.pages-countainer {
  padding: 0;
  display: flex;
  justify-content: center;
}

.pages {
  width: 1124px;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content:flex-end;
  margin: 0;
}


.pages li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 25px;
  margin-right: 4px;
}

.pages li a:hover,
.pages li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.pages li a:active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.pages li span {
  color: #353535;
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 25px;
  margin-right: 4px;
}

/*-------------------------Сетка----------------------------*/
.main-header {
  margin-bottom: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.site-navigation {
  width: 695px;
  margin-top: 20px;
  padding: 0;
}

.user-navigation {
  margin-top: 20px;
  height: auto;
  padding: 0;
  display: flex;
}

.contacts p{
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  width: 1146px;
}

/*-------для специального предложения--------*/
.special-offer {
  margin-bottom: 38px;
  margin-top: 37px;
  margin-left: 27px;
  margin-right: 27px;
  display: flex;
  justify-content: space-between;
}

.raspberries {
  min-height: 230px;
  width: 560px;
}

.chocolate {
  min-height: 230px;
  width: 560px;
}

/*-------для Лучший выбор-------*/
.best-choise .ice-cream-hit {
  height: 365px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.ice-cream-hit-item {
  width: 267px;
  margin: 0 ;
  padding: 8px 13px;
}

/*---------Преемущества---------*/
.about-gllacyshop {
  height: 305px;
  width: 1146px;
  margin: 0 13px;
  padding: 0;
}

.advantages-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  min-height: 308px;
}

.item-advantages:first-child {
background-image: url("../img/svg/ice-cream.svg");
background-repeat: no-repeat;
background-position: 1px 9px;
}

.item-advantages:nth-child(2) {
background-image: url("../img/svg/cow.svg");
background-repeat: no-repeat;
background-position: 1px 9px;
}

.item-advantages:nth-child(3) {
background-image: url("../img/svg/eco.svg");
background-repeat: no-repeat;
background-position: 1px 14px;
}

.item-advantages:last-child {
background-image: url("../img/svg/thermometer.svg");
background-repeat: no-repeat;
background-position: 1px 14px;
}

.advantages {
  position: relative;
  margin-top: 0;
}

.advantages .item-advantages {
  display: block;
  position: absolute;
  left: 30;
  width: 485px;
  padding-left: 60px;
  padding-top: 20px;
  margin-left: -20px;
  margin-bottom: -3px;
}

.advantages .item-advantages:nth-child(2n) {
  position: relative;
  left: 565px;
}

.advantages .item-advantages:nth-child(3) {
  padding-top: 28px;
  padding-left: 57px;
}

.advantages .item-advantages:nth-child(4) {
  padding-top: 30px;
}
/*------Блог и подписка------*/
.blog-and-subscription {
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.new-from-the-blog,
.subscription {
  margin: 0 13px;
  padding: 0;
  width: 560px;
  height: 220px;
}

.map-container {
  padding-top: 18px;
  margin-top: 40px;
  width: 1200px;
  min-height: 300px;
  margin: auto;
  position: relative;
}
.map iframe {
  position: relative;
  border: none;
  background-image: url("../img/index-img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.adres-and-contacts {
  position:absolute;
  top: 83px;
  right: 27px;
}

/*------футер-------*/
.footer {
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  position: relative;
}

.footer-catalog {
  margin-top: 35px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

/*-------Каталог-------*/
.catalog-header {
  padding: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}
.catalog-header-container {
  width: 1146px;
  display: flex;

}

.contacts-catalog {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.catalog-header p {
  margin: 0;
  padding: 0;
}

.catalog-header-navigation {
  width: 873px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.catalog-header-navigation a {
  padding-right: 15px;
  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.catalog-header-navigation span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.catalog-header-navigation h1 {
  font-size: 35px;
  line-height: 1px;
}

.ice-creams-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.ice-creams {
  width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.ice-creams-item {
  position: relative;
  margin-bottom: 36px;
  border-radius: 5px;
  width: 267px;
  min-height: 311px;
  padding: 8px 13px;
}

.filter-container {
  margin: 0 27PX;
  padding: 0;
  display: flex;
  justify-content: center;
}

.filter {
  width: 1146px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.filter .button-filter {
  width: 140px;
  height: 33px;
  border-radius: 20px;
  align-self: center;
  position: relative;

  bottom: -6px;
}

.filter-input {
  display: none;
}

.filter-input-checkbox-custom {
  width: 20px;
	height: 20px;
  margin-left: 12px;
  position: relative;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
}

.filter-input-radio-custom {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 3px;
	position: relative;
  margin-right: 2px;
  margin-left: 16px;
  cursor: pointer;
}

.filter-input-checkbox-custom,
.filter-input-radio-custom,
.fat label,
.fillers label {
	display: inline-block;
	vertical-align: middle;
}

.filter-input-radio:checked + .filter-input-radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background-color: #ffffff;
  border-radius: 1px;
}

.filter-input-checkbox:checked + .filter-input-checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 4px;
	background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
}

.filter-input-radio-custom,
.filter-input-radio:checked + .filter-input-radio-custom::before {
	border-radius: 50%;
}
