body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}
.visually-hidden {
  display: none;
}
/*Стилизация шапки сайта(навигация) */
.navigation {
  line-height: 18px;
  color: #ffffff;
}


.site-navigation .user-navigation {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.site-navigation,
.user-navigation,
.submenu {
  list-style: none;
}
.site-navigation a {
  color: #ffffff;
}

.site-navigation .submenu a {
color: #white;
text-decoration: none;
}

.site-navigation .submenu li:not(:first-child) {
  font-weight: 400;
}

 .navigation-item a:hover {
 background-color: white;
 color: black;
 text-decoration: none;
}
.submenu a:hover,
.submenu a:focus {
  background: #fbded8;
}
.submenu li:hover,
.submenu li:focus {
  background: #fbded8;
}

/*Слайдер Двойное наслаждение*/
.double-ice-cream {
  text-align: center;
}

.slider-lets-both li:first-child {
  background-image: url(../img/index-img/cream-brule-and-jam.png);
}
.slider-lets-both li:nth-child(2) {
  background-image: url(../img/index-img/chololate-and-sorbet.png);
}
.slider-lets-both li:last-child {
  background-image: url(../img/index-img/ice-cream-and-sherbet.png);
}

.lets-both {
  list-style: none;
}

.lets-both a {
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
  padding: 24px 44px;
  color: #ffffff;
  background-color: #ed5a3d;
}
.lets-both a:hover,
.lets-both a:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
}

.lets-both:not(:first-child) {
  display: none;
}

.lets-both label {
  font-size: 60px;
  line-height: 60px;
}

/*Специальные предложения*/
.raspberries h3,
.chocolate h3 {
  font-size: 35px;
  line-height: 41px;
}
.raspberries p,
.chocolate p {
  font-size: 18px;
  line-height: 22px;
}

.raspberries a,
.chocolate a {
  font-size: 18px;
  line-height: 24px;
}

.raspberries {
  background-color: #849d8f;
  background-image: url("../img/index-img/background-raspderries.jpg");
  background-repeat: no-repeat;
}

.chocolate {
  background-color: #849d8f;
  background-image: url("../img/index-img/background-chocolate.jpg");
  background-repeat: no-repeat;
}

.raspberries a,
.chocolate a{
  text-decoration: none;
  color: #ffffff;
  background-color: #ed5a3d;
}

.raspberries a:hover,
.raspberries a:focus,
.chocolate a:hover,
.chocolate a:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
}

/*Лучший выбор*/
.ice-cream-hit,
.ice-creams {
  list-style: none;
}

.ice-cream-hit-item:hover,
.ice-cream-hit-item:focus,
.ice-creams-item:hover,
.ice-creams-item:focus {
  background-color: #9bafa3;
}

.ice-cream-hit-item .button,
.ice-creams-item .button {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  padding: 5px;
  background-color: #ed5a3d;
  display: none;
  text-decoration: none;
}
.ice-cream-hit-item .button:hover,
.ice-cream-hit-item .button:focus,
.ice-creams-item .button:hover,
.ice-creams-item .button:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
}
.ice-cream-hit-item:hover .button,
.ice-cream-hit-item:focus .button,
.ice-creams-item:hover .button,
.ice-creams-item:focus .button {
  display: block;
}

.ice-cream-hit-item:hover,
.ice-cream-hit-item:focus,
.ice-creams-item:hover,
.ice-creams-item:focus {
  background-color: #9bafa3;
}
.ice-cream-hit-item a:not(.button):focus,
.ice-cream-hit-item a:not(.button):hover,
.ice-creams-item a:not(.button):hover,
.ice-creams-item a:not(.button):focus {
  color: #ffbc9e ;
}

.ice-cream-hit-item a,
.ice-creams-item a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

/*Преимущества*/
.about-gllacyshop {
  background-color: #ffffff;
  background-image: url(../img/index-img/background-wafer.jpg);
  background-repeat: no-repeat;
  color: #323232;
}
.about-gllacyshop h3 {
  font-size: 24px;
  line-height: 30px;
}
.advantages {
  list-style: none;
}

/*Блог*/
.new-from-the-blog {
  background-color: #ffffff;
  background-image: url(../img/index-img/background-blog.jpg);
  background-repeat: no-repeat;
  color: #323232;
}
.new-from-the-blog h2 {
  font-size: 16px;
  line-height: 22px;
}

.new-from-the-blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}
.new-from-the-blog a:hover,
.new-from-the-blog a:focus{
  color: #ffbc9e;
}

/*Подписка*/
.subscription {
  background-color: #f8f7f4;
  color: #5a5a5a;
}

.subscription form .button {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  background-color: #ed5a3d;
}

.subscription form .button:hover,
.subscription form .button:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
}
/*Контактная информация*/
.adres-and-contacts {
  color: #323232;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.adres-and-contacts p:nth-child(2),
.adres-and-contacts p:nth-child(4) {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.adres-and-contacts a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #ed5a3d;
}

.adres-and-contacts a:hover,
.adres-and-contacts a:focus {
  background-color: #ef7661;
  box-shadow: 0 2px 2px 0 #9e4334;
}

/*Футер*/
.footer-information a,
.footer-social a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.footer p a {
  color: #ffffff;
}
.footer p {
  font-size: 12px;
  line-height: 16px;
}

.footer-information a:not(:first-child),
.footer p {
  font-weight: 400;
}

.footer-information a:hover,
.footer-information a:focus,
.footer-social a:hover,
.footer-social a:focus,
.footer p a:hover,
.footer p a:focus {
  color: #ffbc9e;
}

/*КАТАЛОГ*/
.site-navigation .catalog {
  background-color: #ed5a3d;
  color: #ffffff;
}

.catalog-header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.catalog-header a:hover,
.catalog-header a:focus {
  color: #ffbc9e;
}

.container-catalog {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.filter fieldset{
  border: none;
}

.on-popular,
.fat,
.fillers {
  background-color: #a9bab0;
}

.fat,
.fillers {
  list-style: none;
}

.container-catalog .filter .button {
  background-color: #a9bab0;
  box-shadow: 0 0 0 1px #ffffff;
}

.container-catalog .button:hover,
.container-catalog .button:focus {
  background-color: #ffffff;
  color: #353535;
}

.on-popular:hover,
.on-popular:focus {
  color: #353535;
}

.pages {
  list-style: none;
}
.pages li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.pages li a:hover,
.pages li a:focus {
  color: #ed5a3d;
}

.pages li span {
  color: #353535;
  background-color: #ffffff;
}

/*-------------------------Сетка----------------------------*/

.main-header {
  margin-bottom: 0;
}
.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.site-navigation {
  width: 695px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 267px;
  margin: 0;
  padding: 0;
  align-self: flex-start;
}
.contacts {
  margin: 0 27px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  left: 490px;

}

/*------Слайдер------*/
.slider {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider-lets-both .lets-both {
  margin top: 280px;
  height: 210px;
  width: 666px;
}

/*-------для специального предложения--------*/

.special-offer {
  margin-bottom: 38px;
  margin-top: 37px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.raspberries {
  height: 230px;
  width: 560px;
  margin: 0 13px;
  padding: 0;
}

.chocolate {
  height: 230px;
  width: 560px;
  margin: 0 13px;
  padding: 0;
}


/*-------для Лучший выбор-------*/

.best-choise .ice-cream-hit {
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.ice-cream-hit-item {
  width: 267px;
  margin: 0 13px;
  padding: 0;
}

/*---------Преемущества---------*/

.about-gllacyshop {
  height: 305px;
  width: 1146px;
  margin: 0 13px;
  padding: 0;
}

.advantages-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/*------Блог и подписка------*/
.blog-and-subscription {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.new-from-the-blog,
.subscription {
  margin: 0 13px;
  padding: 0;
  width: 560px;
  height: 220px;
}

.map-container {
  padding-top: 40px;
  padding-bottom: 140px;
  width: 1200px;
  height: 300px;
  margin: auto;
  position: relative;
}
.adres-and-contacts {
  position:absolute;
  top: 100px;
  right: 27px;
}

/*------футер-------*/

.footer {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer-social {
  width: 187px;
  margin-right: 235px;
}
.footer-information {
  width: 330px;
  margin-right: 230px;
}

.htmlacademy-copyright {
  width: 190px;
}

/*-------Каталог-------*/
.catalog-header {
  margin: 0 27px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.catalog-header p {
  margin: 0;
  padding: 0;
}
.catalog-header-container {
  width: 573px;
  margin-bottom: 25px;
  margin-right: 573px;
  display: flex;
  flex-direction: column;
}

.ice-creams-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.ice-creams {
  width: 1200px;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ice-creams-item {
  width: 267px;
  margin: 0 13px;
  padding: 0;
}




.pages {
  display: flex;
  justify-content: center;
}

.filter-container {
  margin: 0 27PX;
  padding: 0;
  display: flex;
  justify-content: center ;
}
.filter {
  margin-right: 293px;
  width: 853px;
  display: flex;
  flex-wrap: wrap;

}
.fillers,
.fat {
  display: flex;
}
.filter .button {
  margin: 0;
  padding: 0;
  align-self: center;
}
